li {
    padding: 5px;
    margin: 5px;

  }
  
  ul {
    border-style: solid;
    border-color: black;
    background-color: lightgray;
  }

  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
 
  }
  
  .form-group {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    font-family: "Times New Roman", Times, serif;
    
  }

  h1 {
    text-align: center;
    background-color: gold;
    border-style: double;
    border-width: 10px;
    border-color: black;
    padding-bottom: 5px;  
    font-family: "Times New Roman", Times, serif;
  }

  h2 {
    font-family: "Times New Roman", Times, serif;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  body {
    background-image: url(https://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_900x675/public/classic-burgers-u.jpg?itok=jy7-zE2F);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }